/* desktop :1200px. md */

@media (max-width: 1300px) {
    .container {
        max-width: 992px;
    }
}


/* Tablet desktop :768px. md */

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
    .row {
        flex-direction: column-reverse;
        align-items: center;
    }
    .col {
        width: 100%;
    }
    #e-wallet .title {
        font-size: 36px;
    }
    .bank-calculator {
        padding-right: 0px;
    }
    .saving-calculate {
        flex-direction: column;
    }
    .saving-calculate span {
        display: block;
        text-align: center;
    }
    #saving-percentage {
        margin: 30px 0;
    }
}


/* large mobile :568px. ex-sm */

@media (max-width: 768px) {
    .container {
        width: 568px;
    }
}


/* Small Mobile :480px. sm */

@media (max-width: 556px) {
    .container {
        width: 100%;
    }
    #e-wallet .title {
        font-size: 30px;
    }
    .bank-calculator h1 {
        font-size: 28px;
    }
}